<?xml version="1.0" encoding="UTF-8"?>
<!-- slf4j日志配置文件 -->
<configuration debug="false" scan="false">

    <!-- 设置日志输出根目录 -->
    <property name="log.dir" value="${catalina.base}/logs"/>
    <property name="encoding" value="UTF-8"/>
    <property name="normal-pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%X{traceId}] [%thread] %logger{0}.%M:%L -- %msg%n"/>

    <!-- log file default -->
    <appender name="pid_partner"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/partner.log</file>
        <prudent>false</prudent>
        <Append>true</Append>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/partner.log.%d{yyyy-MM-dd-HH}.gz
            </fileNamePattern>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="pid_partner"/>
    </root>

</configuration>
